/* Font Sizes */
$font-size-1: 2.5rem;
$font-size-2: 2rem;
$font-size-3: 1rem;
$font-size-4: 0.75rem;

/* Widths */
$width-desktop: 1400px;
$width-tablet: 800px;

/* Widths */
$border-radius-1: 0.35em;
$border-radius-2: 1em;